CellButton {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14pt;
    color: #333333;
    margin: 1px;
}

CellButton:hover {
    border: 3px solid rgba(0, 0, 0, 0.2);
}

WordLabel {
    font-size: 12pt;
    font-family: "Montserrat";
}
